/* Check savvior.org for more information. */
/* You’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }

/* Hide text that defines classes to be used by JS. */
.svr-grid[data-columns]::before {
  display: none;
}
